

.console-app-div {
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.console-background-div {
    width:100%;
    height:100%;
    position: absolute;

    backdrop-filter: blur(30px);  
    -webkit-backdrop-filter: blur(30px);

    background-color: rgba(0,0,0,0.85);
}

.console-foreground-div {
    width:100%;
    height:100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.console-log-div {
    flex: 1;

    padding: 10px;

    overflow: auto;
}

.console-log-span {
    display: block;
    white-space: pre;

    color: rgb(160, 160, 160);
}

.console-log-div[data-wrap="enable"] > .console-log-span {
    white-space: pre-wrap;
}

.console-log-div[data-wrap="enable"] {
    word-break: break-all;
}

.console-log-info {
    color: rgb(255,255,255);
}

.console-log-error {
    color: rgb(255,65,0);
}

.console-log-warning {
    color: rgb(255, 187, 0);
}

.console-log-debug {
    color: rgb(66, 198, 216);
}

.console-prompt-div {
    display: flex;
    flex-direction: row;

    padding: 6px 0px;

    border-top: 1px solid rgba(255,255,255,0.15);
}

.console-prompt-span {
    padding-left: 10px;
}

.console-prompt-input {
    width: 100%;
    max-width:100%;
    padding: 0;
    margin-right: 6px;
    resize: none;

    background-color: transparent;
    border: none;
}

.console-prompt-input:focus {
    outline: none;
}

.console-prompt-input,
.console-app-div {
    color: white;
    font: 14px monospace;
}